@import "tailwindcss";
@import "tw-animate-css";

:root {

  --primary: #FEFEFE;
  --divider: #999999;
  --disabled: #696969;
  --secondary: #9333ea;
  --background: #E5E5E5;
  --text: #0f172a;
  --success: #16a34a;
  --warning: #facc15;
  --error: #dc2626;
  --info: #2563eb;
  --dark: #000000;
  --ok: #B9FF94;
  --modal: #D9D9D9;
  --alert: #F3FF89;
  --critic: #FF5050;

  --status-not-started: #B8B8B8;
  --status-in-progress: #83B3FF;

  --chart-alert: #FF6B6B;
  --chart-axis: #9ca3af;
  --chart-grid: #e5e7eb33;

  --yellow-soft: #FEFFDD;

  --radius-sm: 0.375rem;
  --radius-md: 0.5rem;
  --radius-lg: 0.625rem;
  --radius-xl: 0.75rem;
}

@theme {
  --color-primary:    var(--primary);
  --color-divider:    var(--divider);
  --color-disabled:   var(--disabled);
  --color-secondary:  var(--secondary);
  --color-background: var(--background);
  --color-text:       var(--text);
  --color-success:    var(--success);
  --color-warning:    var(--warning);
  --color-error:      var(--error);
  --color-info:       var(--info);
  --color-dark:       var(--dark);
  --color-ok:         var(--ok);
  --color-modal:      var(--modal);
  --color-alert:      var(--alert);
  --color-critic:     var(--critic);

  --color-status-not-started: var(--status-not-started);
  --color-status-in-progress: var(--status-in-progress);

  --color-yellow-soft: var(--yellow-soft);
}

@layer base {
  body {
    background-color: var(--background);
    color: var(--text);
    font-family: sans-serif;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
}

@layer utilities {

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}